body {
  margin: 0; /* Tar bort standard marginal */
  display: flex; /* Använder flexbox för layout */
  flex-direction: column; /* Ställer in flex-riktning till kolumn */
  align-items: center; /* Centrerar horisontellt */
  min-height: 100vh; /* Gör så att body täcker hela höjden av viewporten */
  background-color: #6e8499; /* Ljus bakgrundsfärg */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#app {
  width: 300px; /* Sätter en fast bredd på listan */
  margin-top: 100px; /* Lägger till lite avstånd från toppen */
  font-size: large; /* Större textstorlek för bättre läsbarhet */
}

#app li {
  background-color: #ffffff; /* Ljus bakgrund för varje lista element */
  margin-bottom: 10px; /* Mellanrum mellan listobjekt */
  padding: 10px; /* Inre marginal för bättre utseende */
  border-radius: 5px; /* Rundade hörn */
  display: flex; /* Använder flexbox för layout */
  align-items: center; /* Centrerar innehållet vertikalt */
  gap: 10px; /* Mellanrum mellan checkbox och text */
  
}

form {
  margin-top: 20px; /* Lägger till avstånd ovanför formuläret */
  display: flex; /* Använder flexbox för layout */
  flex-direction: column; /* Ställer in flex-riktning till kolumn */
  align-items: center; /* Centrerar horisontellt */
  gap: 10px; /* Lägger till mellanrum mellan elementen i formuläret */
}

#form label {
  font-size: medium; /* Större textstorlek för etiketten */
  color: #ffffff; /* Vit textfärg för etiketten */
}

button {
  background-color: #ffffff; /* Grön bakgrundsfärg */
  color: #000000; /* Vit textfärg */
  padding: 10px 20px; /* Inre marginal för bättre utseende */
  border: none; /* Tar bort standard kantlinje */
  border-radius: 5px; /* Rundade hörn */
  cursor: pointer; /* Ändrar muspekaren vid hovring */
}